<div class="main">
<div class="content">
<div class="tasks">
<div class="form">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @label.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @label.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @label.user.name %>
</p>



<%= link_to 'Edit', edit_label_path(@label),class:'btn btn-info btn-sm' %> |
<%= link_to 'Back', labels_path,class:'btn btn-secondary btn-sm' %>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>