<div class="main">
<h1 class="header"><%= t('view.welcome') %></h1>
<div class="content"
<p id="notice"><%= notice %></p>
<hr>
<div class="tasks">
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password_digest %></td>
       
        <td><%= link_to 'Show', user,class:'btn-sm btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

